@{
    ViewData["Title"] = "VAT Validation";
}

<form asp-controller="Home" asp-action="VatValidationResult">
    <div>
        <input name="requestNumber" type="text" value="" />
        <input class="btn btn-primary" type="submit" value="Verify" />
    </div>
</form>